<html>
<head></head>
<body ng-app="myApp">
<div ng-controller="DemoController">
Deptno:<input ng-model="s1"/><br></br>
Dname:<input ng-model="s2"/><br></br>
Location:<input ng-model="s3"/><br></br>
<input type="button" ng-click="f1()" value="First"/>
<input type="button" ng-click="f2()" value="Prev"/>
<input type="button" ng-click="f3()" value="Next"/>
<input type="button" ng-click="f4()" value="Last"/>
<br></br>
<table border="2">
<tr>
<th>Deptno</th>
<th>Dept Name</th>
<th>Location</th>
</tr>
<tr ng-repeat="item in depts">
<td>{{item.deptno}}</td>
<td>{{item.dname}}</td>
<td>{{item.loc}}</td>
<td><input type="button" ng-click="f2($index)" value="Remove Dept"/></td>
<td><input type="button" ng-click="f3($index)" value="Select Dept"/></td>
</tr>
</table>
</div>
<script src="angular.js"></script>
<script>
var app=angular.module("myApp",[]);
app.controller("DemoController",function($scope)
{
$scope.s1=0;
$scope.s2="";
$scope.s3="";
$scope.depts=[{deptno:10,dname:"accounts",loc:"Hyd"},
             {deptno:20,dname:"Engg",loc:"Pune"},
			 {deptno:30,dname:"Clerk",loc:"Kolkata"},
			 {deptno:40,dname:"Admin",loc:"Delhi"}];
$scope.f1=function()
{
var obj={};
 obj.deptno=$scope.s1;
 obj.dname=$scope.s2;
 obj.loc=$scope.s3;
 $scope.depts.push(obj);
};

 $scope.f2=function(x)
{
$scope.depts.splice(x,1);
};
$scope.f3=function(x)
{
var obj=$scope.depts[x];
$scope.s1=obj.deptno;
$scope.s2=obj.dname;
$scope.s3=obj.loc;
};
			 
});
</script>
</body>
</html>